<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Next_word_predictor</title>
</head>
<body>

    <div class="main-container">

        <p>Welcome to next word predictor</p>

            <form id="myForm" action="{{ url_for('predict') }}" method="post">

                <textarea name="text" id="text" oninput="checkSpaceAndSubmit(event) " placeholder="Enter your text here"></textarea>
                <button id="btn" type="submit">Submit</button>
            </form>
            
            <div class="result">
    
                {% if result %}
                <p>{{result}}</p>
                {% endif %}
        </div>
        
    </div>





    <script>

        // const text_area = document.getElementById("text")
        function checkSpaceAndSubmit(event) {
            // Check if the last character is a space
            const inputValue = event.target.value;
            if (inputValue.endsWith(" ")) {
                document.getElementById("myForm").submit();
            }
        }
    </script>

</body>
</html>